@charset "UTF-8";
html{
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    text-align: center;
    font-size: 1.4rem;
    font-family: "Hiragino Kaku Ghothic ProN", Meiryo, sans-serif;
    line-height: 2.4rem;
    color: #989898;
}
a:link, a:visited, a:active{
    color: #989898;
}
a:hover{
  color: #B0B0B0;
}
  
header{
  margin-bottom: 110px;
}
main{
  margin-bottom: 130px;
}
footer{
  margin-bottom: 20px;
}
h2{
  font-size: 2.5rem;
}
.content{
  margin-bottom: 110px;
}

.content__title{
  color: #606060;
}
.content__logo{
  max-width: 250px;
  max-height: 200px;
}
.content__list{
  list-style: none;
  padding: 0;
}
.content__card-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.content__card{
  width: 220px;
  height: 230px;
  margin: 7px;
  border: solid 1px #989898;
  background-color: #fff;
}
.content__card a{
  text-decoration: none;
}
.content__card__img{
  width: 100%;
  height: 162px;
}
.content__card:hover{
  opacity: 0.9;
}
.tag{
  display: inline-block;
  margin-top: 1.8rem;
  line-height: 0;
  vertical-align: sub;
  font-weight: 200;
}
.tag::before, .tag::after{
  content: "・";
}
 /*
要改良*/
footer p{
  color: #606060;
  font-weight: bold;
  margin: 0;
}
.footer__signature{
  font-size: 2.5rem;
  line-height: 2.7rem;
}
.footer__faceicon{
  border-radius: 50%;
  margin-bottom: 15px;
}

@media (max-width: 812px) {
  .wrap{
    overflow: hidden;
  }
  body{
    font-size: 1.1rem;
  }
  header{
    margin-bottom: 90px;
  }
  h2{
    margin: 17px;
  }
  .content{
    margin-bottom: 90px;
  }
  .header__logo, .content__map{
   max-width: 90%
  }
  .content__logo{
    max-width: 200px;
    max-height: 150px;
  }
  .content__card-box{
    max-width: 450px;
  }
  .content__card{
    width: 146px;
    height: 153px;
    margin: 1px;
    line-height: 1.4rem;
  }
  .content__card__img{
    width: 100%;
    height: 108px;
  }
}/**/