@charset "UTF-8";
html{
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #989898;
}
a:link, a:visited, a:active{
    color: #989898;
}
a:hover{
  color: #B0B0B0;
}
  
header{
  margin-bottom: 110px;
}
.content{
  margin-bottom: 110px;
}
.main{
  margin-bottom: 110px;
}
footer{
  margin-bottom: 20px;
}

.content__title{
  color: #606060;
}
.content__logo{
  max-width: 250px;
  max-height: 200px;
}

footer p{
  color: #606060;
  font-weight: bold;
  margin: 0;
}
.footer__name{
  font-size: 3rem;
  line-height: 3.3rem;
}
.footer__faceicon{
  border-radius: 50%;
  margin-bottom: 15px;
}